CLAWLOOPS_DOMAIN=clawloops.localhost
RUNTIME_MANAGER_DOMAIN=runtime-manager.clawloops.localhost

AUTHENTIK_VERSION=2025.8.3
AUTHENTIK_POSTGRES_DB=authentik
AUTHENTIK_POSTGRES_USER=authentik
AUTHENTIK_POSTGRES_PASSWORD=change_me_authentik_db_password
AUTHENTIK_SECRET_KEY=change_me_authentik_secret_key
AUTHENTIK_OUTPOST_TOKEN=change_me_outpost_token
